<server description="Game On! Room Service">

    <!-- Enable features -->
    <featureManager>
		<feature>websocket-1.1</feature>
	    <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>cdi-1.2</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9081" httpsPort="9444" id="defaultHttpEndpoint"/>


    <applicationMonitor updateTrigger="mbean"/>
	<logging traceSpecification="*=info" />
<!-- 
    <webApplication id="concierge-app" location="concierge-app-1.0.war" contextRoot="concierge" />
 -->
</server>